TMDB_API_KEY=
TMDB_TIMEOUT_SECONDS=10
FFPROBE_BIN=ffprobe
FLASK_SECRET_KEY=change-me
# Following only required in dev running 'python3 web.py' not docker
# REELCLEAN_ALLOWED_DIRS="<Title>:<Path to movies>"
