TMDB_API_KEY=
TMDB_TIMEOUT_SECONDS=10
FFPROBE_BIN=ffprobe
REELCLEAN_ALLOWED_DIRS=Movies:/media/movies,Downloads:/media/downloads
REELCLEAN_LIBRARY_ROOT=
FLASK_SECRET_KEY=change-me
REELCLEAN_HOST=0.0.0.0
REELCLEAN_PORT=8000
