.DS_Store
test_runs/
.env
.env_local
.env_server
.env.*.local
reports/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
push.sh
local-push-app.sh
deploy-push-app.sh
.env_local_unset.sh
.env_local.sh
appDeploy/
gaffer/
.opencode/
venv/
.venv/
.envrc
.github/
.vscode/
.idea/
rename_env/
